*{
  box-sizing: border-box;
}

body{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

form{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  padding: 40px 20px 20px;
  background: white;
  border-radius: 30px;
  box-shadow: 0px 0px 20px #bebebe;
}

h1{
  font-size: 2rem;
  width: 100%;
  text-align: center;
  font-weight: 900;
}

input{
  width: 95%;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding-left: 20%;
  margin-left: 5%;
}

input:focus{
  outline-color: #00c3ff;
}

.btn-blue{
  width: 90%;
  padding: 20px;
  margin: 20px 0px 20px 0px;
  cursor: pointer;
  background: #00c3ff;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: 0.5s ease;
}

.btn-blue:hover{
  background: #00a6ff;
}

a{
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 20px;
  color: black;
}

a:hover{
  color: #00c3ff;
}

.link{
  color: #00c3ff;
  text-decoration: underline;
}

.input-group{
  width: 90%;
}

.input-icon{
  width: 60px;
  position: absolute;
}

input[type='checkbox']{
  display: inline-block;
  height: 20px;
  width: 5%;
  vertical-align: middle;
}

label{
  display: inline-block;
  width: 85%;
  font-size: 12px;
  margin-top: 15px;
  cursor: pointer;

}

.erro-geral{
  background: #c82a2a;
  color: white;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.erro-input{
  border: 1px solid #c82a2a;
}

.erro{
  color: #c82a2a;
  text-align: center;
  margin-bottom: 18px;
  font-weight: bold;
}

.sucesso{
  background: #35c82a;
  color: white;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.text-center{
  text-align: center;
}

.gmail{
  background: rgb(255, 34, 0);
  color: white;
  padding: 20px;
  border-radius: 5px;
}

.outlook{
  background: #0066fff8;
  color: white;
  padding: 20px;
  border-radius: 5px;
}

